.about-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-family: Arial;

    p {
        margin-bottom: 1rem;
        font-size: .7rem;
    }

    .strong {
        font-weight: 600;
    }

    .about-page-truegold-logo {
        max-width: 45%;
        margin-bottom: 6em;
        display: block;
        bottom: 0;
        position: absolute;
    }

    .about-content {
        margin-top: 2%;
        width: 90%;
    }
}


@media (max-width: 500px) {
    .about-page-truegold-logo {
        margin-bottom: 16em !important;

    }
}