<div class="container">
  <div class="row about-container">
    <div class="col-2 col-md-1">
      <img src="assets/img/logo.png" class="about-page-truegold-logo" />
    </div>
    <div class="col-10 col-md-11 text-left about-content">
      <span class="strong">ABOUT</span>
      <p>
        trueGold represents a turning point for the gold industry, aligning the
        interests of miners, refiners, jewlers, investors and consumers. As the
        world becomes more conscious of ethical and sustainable practices,
        trueGold's technology powered by SMX is well positioned to shape the
        future of the gold supply chain
      </p>
      <p>
        trueGold's fully transparent, end-to-end ethical gold supply chain
        technology, backed by non-destructive testing and blockchain, is a game
        changer. It offers a tangible solution to the longstanding ethical
        dilemmas associated with gold mining, supply and proof of provenance.
        With trueGold the allure of gold can now be matched with a clear
        conscience, knowing that the precious metal was sourced responsibly and
        ethicall
      </p>
      <p class="strong">
        Its not just gold; its trueGold - setting a new standard for the
        industry and demonstrating that ethics and profits can coexist
        harmoniously
      </p>
    </div>
  </div>
</div>
