<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/background.jpg')"
  >
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="truegold-logo">
            <img src="assets/img/truegold-log-white.png" alt="" />
          </div>
        </div>
        <div
          class="article-container"
          *ngFor="let image of imageList; let i = index"
        >
          <img [src]="image" [key]="i" />
        </div>
      </div>
    </div>
  </div>
</div>
