ngb-progressbar {
    margin-top: 5rem;
}

.page-header {
    max-height: none;
}

.truegold-logo {
    margin: 5px auto 45px !important;
}

.article-container {
    width: 100%;
    margin-bottom: 2%;
    text-align: center;

    img {
        width: 60%;
        padding: 20px;
    }
}