<app-announcement
  date="17 JANUARY 2023"
  subTitle="trueGold's Security Feature for Gold has received Accredited Recognition from the London Bullion Market Association (LBMA)"
  content="The London Bullion Market Association (LBMA) the independent authority in ensuring the highest standards of integrity and transparency for the global precious metals industry, has named trueGold, along with four other companies – as a recognised and accredited security features provider.

  The LBMA identified trueGold as the only company that can invisibly 'mark' the gold with a durable marker, that will allow a complete mine-to-marketplace, to recycle and reuse. Enabling an ethical gold supply chain assurance, to tangibly authenticate and provide irrefutable proof of quality, quantity, and origin of gold for credible ESG reporting in real time."
  [paths]="[
    'assets/img/articles/January 17 2023 Announcement 1-2.jpg',
    'assets/img/articles/January 17 2023 Announcement 2-2.jpg'
  ]"
></app-announcement>

<app-feature-article
  date="14 JANUARY 2023"
  subTitle="trueGold's unique technology builds trust and enables a transparent supply chain for gold from mine to marketplace and recycling."
  content="trueGold's technology has been recognised by LBMA, an independent global authority for gold and precious metals, as the only technology and Security Feature provider that can invisibly mark gold bars."
></app-feature-article>

<app-announcement
  date="22 AUGUST 2022"
  subTitle="trueGold's growth is gaining momentum as it welcomes new investors and strategic partners and announces the appointment of an independent chairperson for its gold industry advisory board and a new board director"
  content="trueGold's growth is gaining momentum as it welcomes two new investors and strategic partners, Ava Global Logistics and Mr Alberto Morales, founder of Andean Precious Metals. Contributing strongly to this momentum is the appointment of Mr Grant Angwin, as an Independent Chairperson for its Gold Industry Advisory Board, while Mr Jason Waters, CEO of The Perth Mint, joins trueGold's Board of Directors"
  [paths]="[
    'assets/img/articles/August 22 2022 Announcement 1-2.jpg',
    'assets/img/articles/August 22 2022 Announcement 2-2.jpg'
  ]"
></app-announcement>

<app-feature-article
  date="22 AUGUST 2022"
  subTitle="trueGold's growth gains momentum as it welcomes two new strategic investors, partners and board members"
  content="MELBOURNE, Australia, Aug. 22, 2022 /PRNewswire/ -- trueGold Consortium is a subsidiary of Security Matters (SMX), a tech company that focus on providing a complete transparent mine-to-refinery to marketplace, to final product as well as to recycle/reuse; ethical supply chain assurance and digital blockchain platform solution for the entire gold industry. Based in Australia, trueGold welcomes strategic investors and partners, Ava Global Logistics and Alberto Morales, who join the growing consortium with a pre-money valuation of AUS$60million. In addition, Grant Angwin has been appointed the Chairperson who will lead the Gold Industry Advisory Board and Jason Waters will join the Board of Directors."
  [paths]="[
    'assets/img/articles/August 22 2022 Featured Article 1-5.jpg',
    'assets/img/articles/August 22 2022 Featured Article 2-5.jpg',
    'assets/img/articles/August 22 2022 Featured Article 3-5.jpg',
    'assets/img/articles/August 22 2022 Featured Article 4-5.jpg',
    'assets/img/articles/August 22 2022 Featured Article 5-5.jpg'
  ]"
></app-feature-article>

<app-announcement
  date="29 July 2020"
  subTitle="Formation of trueGold Consortium"
  content="SMX has entered into agreements with a wholly owned entity of Perth Mint to form the trueGold Consortium. trueGold will utilise SMX’s unique molecular marking technology and blockchain platform to launch what it believes to be, the world’s first fully transparent mine-to-marketplace ESG focussed gold supply chain assurance solution. Formed to respond to strong commercial demand for ESG focussed assurance solutions in the gold industry. trueGold to fund its own operations via a capital raising that is independent of SMX. Renowned Australian mining businessman Hugh Morgan AC has been appointed as Chairman of trueGold bringing 30+ years mining and investment experience. Zeren Browne (former LVMH executive) has been appointed Managing Director bringing 18+ years global marketing and brand management experience. "
  [paths]="[
    'assets/img/articles/July 29 2020 Announcement 1-3.jpg',
    'assets/img/articles/July 29 2020 Announcement 2-3.jpg',
    'assets/img/articles/July 29 2020 Announcement 3-3.jpg'
  ]"
></app-announcement>

<app-media
  date="29 July 2020"
  subTitle="Formation of trueGold Consortium"
></app-media>

<app-feature-article
  date="29 JULY 2020"
  subTitle="The Perth Mint and Security Matters Ltd launch trueGold Consortium"
  content="Special Report: Security Matters has launched its anticipated anti-fraud solution for gold, trueGold. This is the world's first mine-to-marketplace ethical gold supply chain assurance solution."
  [paths]="[
    'assets/img/articles/July 29 2020 Featured Article 1-3.jpg',
    'assets/img/articles/July 29 2020 Featured Article 2-3.jpg',
    'assets/img/articles/July 29 2020 Featured Article 3-3.jpg'
  ]"
></app-feature-article>

<app-feature-article
  date="29 JULY 2020"
  subTitle="Australian mine trial slated for Israeli gold transparency blockchain solution"
  content="The world's first mine-to-product transparency solution being developed via Israeli company Security Matters Ltd.'s newly registered vehicle, trueGold Consortium Pty. Ltd., will be trialed at a mine site and refinery in Australia within weeks of the COVID-19 international travel restrictions being lifted.The technology creates a code by a combination of atoms detected by X-ray, and a marker is embedded in or on products that can be read in real time via a portable, handheld scanner protected by a blockchain secure ledger, which Security Matters said is difficult for competitors to replicate."
  [paths]="[
    'assets/img/articles/July 22 2020 Featured Article Australian Mine 1-2.jpg',
    'assets/img/articles/July 22 2020 Featured Article Australian Mine 2-2.jpg'
  ]"
></app-feature-article>
