<app-announcement
  date="22 AUGUST 2022"
  subTitle="trueGold's growth gains momentum as it welcomes two new strategic
investors, partners and board members"
  content="trueGold Consortium is a subsidiary of Security Matters (SMX), a tech company that focus on providing a complete transparent mine-to-refinery to marketplace, to final product as well as to recycle/reuse; ethical supplychain assurance and digital blockchain platform solution for the entire gold industry."
></app-announcement>

<app-feature-article
  date="14 JANUARY 2023"
  subTitle="trueGold's unique technology builds trust and enables a transparent supply chain for gold from mine to marketplace and recycling."
  content="trueGold's technology has been recognised by LBMA, an independent global authority for gold and precious metals, as the only technology and Security Feature provider that can invisibly mark gold bars"
></app-feature-article>

<app-announcement
  date="22 AUGUST 2022"
  subTitle="trueGold's growth is gaining momentum as it welcomes new investors and strategic partners and announces the appointment of an independent chairperson for its gold industry advisory board and a new board director."
  content="trueGold's growth is gaining momentum as it welcomes two new investors and strategic partners, Ava Global Logistics and Mr Alberto Morales, founder of Andean Precious Metals. Contributing strongly to this momentum is the appointment of Mr Grant Angwin, as an Independent Chairperson for its Gold Industry Advisory Board, while Mr Jason Waters, CEO of The Perth Mint, joins trueGold's Board of Directors"
></app-announcement>

<app-feature-article
  date="22 AUGUST 2022"
  subTitle="trueGold's growth gains momentum as it welcomes two new strategic investors, partners and board members"
  content="trueGold Consortium is a subsidiary of Security Matters (SMX), a tech company that focus on providing a complete transparent mineto-refinery to marketplace, to final product as well as to recycle/reuse; ethical supplychain assurance and digital blockchain platform solution for the entire gold industry."
></app-feature-article>

<app-announcement
  date="29 JULY 2020"
  subTitle="Formation of trueGold Consortium"
  content="SMX has entered into agreements with a wholly owned entity of Perth Mint to form the trueGold Consortium. trueGold will utilise SMX's unique  molecular marking technology and blockchain platform to launch what it believes to be, the world's first fully transparent mine-to-marketplace ESG focussed gold supply chain assurance solution. Formed to respond to strong commercial demand for ESG focussed assurance solutions in the gold industry."
></app-announcement>

<app-feature-article
  date="29 JULY 2020"
  subTitle="The Perth Mint and Security Matters launch trueGold Consortium"
  content="Special Report: Security Matters has launched its anticipated anti-fraud solution for gold, trueGold. This is the world’s first mine-to-marketplace ethical gold supply chain assurance solution"
></app-feature-article>

<app-media
  date="29 JULY 2020"
  subTitle="Formation of trueGold Consortium"
  content=""
></app-media>

<app-feature-article
  date="29 JULY 2020"
  subTitle="Australian mine trial slated for Israeli gold transparency blockchain solution"
  content="The world's first mine-to-product transparency solution being developed via Israeli company Security Matters Ltd.'s newly registered vehicle, trueGold Consortium Pty. Ltd., will be trialed at a mine site and refinery in Australia within weeks of the COVID-19 international travel restrictions being lifted."
></app-feature-article>
