<app-announcement
  date="22 AUGUST 2022"
  subTitle="trueGold’s Security Feature for Gold has received Accredited Recognition 
  from the London Bullion Market Association (LBMA)"
  content=" The London Bullion Market Association (LBMA) the independent authority in ensuring the highest standards of integrity and transparency for the global precious metals industry, has named trueGold, along with four other companies – as a recognised and accredited security features provider.

  The LBMA identified trueGold as the only company that can invisibly ‘mark’ the gold with a durable marker, that will allow a complete mine-to-marketplace, to recycle and reuse. Enabling an ethical gold supply chain assurance, to tangibly authenticate and provide irrefutable proof of quality, quantity, and origin of gold for credible ESG reporting in real time."
></app-announcement>
