<div class="container">
  <div
    class="row latest-news-container"
    [ngClass]="{
      clickableArticle: paths?.length > 0
    }"
    [routerLink]="paths?.length > 0 ? ['/article'] : ['/']"
    [queryParams]="
      paths?.length > 0
        ? {
            filePaths: paths
          }
        : ''
    "
  >
    <div class="col-3 col-md-2">
      <img src="assets/img/feature-logo-white.png" class="icon" />
    </div>
    <div class="col-9 col-md-10 text-left latest-news-content">
      <span class="strong">FEATURE ARTICLE</span>
      <p>{{ date }}</p>
      <p class="strong">
        {{ subTitle }}
      </p>
      <p class="announcement-content">
        {{ content }}
      </p>
    </div>
  </div>
</div>
