<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/background.jpg')"
  >
    <div class="content-center">
      <div class="container">
        <!-- <div class="title-brand">
          <div class="truegold-logo">
            <img src="assets/img/truegold-log-white.png" alt="" />
          </div>
        </div> -->
        <!-- <img src="assets/img/January 17 2023 Announcement 1-2.jpg" />
        <img src="assets/img/January 17 2023 Announcement 2-2.jpg" /> -->
      </div>
    </div>
  </div>
</div>
