<div class="nav-tabs-navigation">
  <div class="nav-tabs-wrapper">
    <ngb-tabset [justify]="'left'">
      <ngb-tab title="ABOUT">
        <ng-template ngbTabContent>
          <app-about></app-about>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="LATEST NEWS">
        <ng-template ngbTabContent>
          <app-latest-news></app-latest-news>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="CONTACT US">
        <ng-template ngbTabContent>
          <app-contact-us></app-contact-us>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
