<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/background.jpg')"
  >
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="truegold-logo">
            <img src="assets/img/truegold-log-white.png" alt="" />
          </div>
          <h3 class="presentation-title">A REVOLUTIONARY TECHNOLOGY</h3>
        </div>
        <h5 class="presentation-subtitle text-center weight-600">
          FOR A FULLY TRANSPARENT END–TO-END ETHICAL GOLD SUPPLY
        </h5>
        <h5 class="presentation-subtitle text-center">
          CHAIN FROM MINE > MARKET > RECYCLING > REFINERY > REUSE
        </h5>
      </div>
      <app-nav></app-nav>
    </div>
  </div>
</div>
